<a href="https://colab.research.google.com/github/Sayuru99/Sentiment-Analysis-using-NLP/blob/main/Sentiment_Analysis_using_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy

Read the dataset using pandas library.

In [26]:
df = pd.read_csv('/content/Tweets.csv')

In [29]:
# df.shape

(14640, 15)

In [4]:
df.head(5)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [5]:
df = df[["airline_sentiment", "text"]]

In [6]:
# df.head(5)

  airline_sentiment                                               text
0           neutral                @VirginAmerica What @dhepburn said.
1          positive  @VirginAmerica plus you've added commercials t...
2           neutral  @VirginAmerica I didn't today... Must mean I n...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...

In [35]:
# df.groupby('airline_sentiment').describe()

                  tweet_id                                            \
                     count          mean           std           min
airline_sentiment
negative            9178.0  5.692602e+17  7.572474e+14  5.675900e+17
neutral             3099.0  5.691841e+17  8.068405e+14  5.675883e+17
positive            2363.0  5.691006e+17  8.112476e+14  5.676555e+17

                                                                           \
                            25%           50%           75%           max
airline_sentiment
negative           5.686511e+17  5.695355e+17  5.698798e+17  5.703106e+17
neutral            5.684852e+17  5.693080e+17  5.699305e+17  5.703093e+17
positive           5.684331e+17  5.691980e+17  5.698788e+17  5.703093e+17

                  airline_sentiment_confidence            ...  \
                                         count      mean  ...
airline_sentiment                                         ...
negative                                9178.0  0.933365  ...
neutral                                 3099.0  0.823303  ...
positive                                2363.0  0.872039  ...

                  negativereason_confidence      retweet_count            \
                                        75%  max         count      mean
airline_sentiment
negative                                1.0  1.0        9178.0  0.093375
neutral                                 0.0  0.0        3099.0  0.060987
positive                                0.0  0.0        2363.0  0.069403


                        std  min  25%  50%  75%   max
airline_sentiment
negative           0.792865  0.0  0.0  0.0  0.0  44.0
neutral            0.658037  0.0  0.0  0.0  0.0  28.0
positive           0.659914  0.0  0.0  0.0  0.0  22.0

[3 rows x 32 columns]

In [38]:
neutral_tweets = df[df['airline_sentiment'] == 'neutral']
unique_neutral_tweets = neutral_tweets['text'].nunique()
print("Number of unique neutral tweets:", unique_neutral_tweets)

Number of unique neutral tweets: 3067

In [12]:
import nltk

import string

import re



from nltk.stem.porter import PorterStemmer



nltk.download('stopwords')

from nltk.corpus import stopwords



nltk.download('punkt')

ps = PorterStemmer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [14]:
def clean_text(text):

    text = text.lower()

    text = re.sub(r'http.?://[^\s]+[\s]?', '', text)

    text = nltk.word_tokenize(text)

    y = []

    for i in text:
          if i not in stopwords.words('english'):
            y.append(i)

    text = y[:]

    y.clear()

    for i in text:

        y.append(ps.stem(i))

    return" ".join(y)

Apply “clean_text” function to “text” column and assign the resulting text to new column named “text_cleaned”.

In [15]:
df['text_cleaned'] = df['text'].apply(clean_text)

#Step 3

Create a “TfidfVectorizer” using the “sklearn” library by specifying “max_features” as 3000

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=3000)

Use “TfidfVectorizer”  created to generate TF-IDF vector representation of cleaned text in the column “text_cleaned”, convert the vector representation to an array, and assigned it to a new variable named “X”.

In [17]:
X = tfidf.fit_transform(df['text_cleaned']).toarray()

Convert the column “airline_sentiment” to an array and assigned it to a new variable named “Y”.

In [19]:
Y = df['airline_sentiment'].values

#Train Model

Split the dataset into training and testing sets using the function “train_test_split” available in the “sklearn” library. Set the parameters of the functions “test_size” to 0.2 and “random_state” to 2.

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

Train a multinomial Naïve Bayes classifier using the training dataset and predict the sentiment of tweets in the test dataset. Find the accuracy of the model in predicting sentiment labels for the test dataset.

In [21]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

# Train a multinomial Naive Bayes classifier
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train, Y_train)

# Predict the sentiment of tweets in the test dataset
Y_pred = nb_classifier.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7219945355191257

In [32]:
# a = float("{0:.2f}".format(accuracy))
# print(a)

0.72

In [24]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(X_train,Y_train)

y_pred = model.predict(X_test)

print(accuracy_score(Y_test,y_pred))

0.7564890710382514

In [36]:
# z = (accuracy_score(Y_test,y_pred))
# a = float("{0:.2f}".format(z))
# print(a)

0.76

In [33]:
# print("Shape of X:", X.shape)

Shape of X: (14640, 3000)